{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shivalik FRM</title>
</head>
<body>
    <h3 style="text-align:center;font-size: larger;">Welcome to FRM by Interns! </h3>
    <form action="verify" >
     Account Number : <input type="text" name="Acc" pattern="[0-9]{10,12}" required onpaste="return false";> <br><br>
     Amount : <input type="number" name="Amt" min="1" required onpaste="return false";> <br><br>
     Payee Account Number : <input type="number" name="Pacc"  pattern="[0-9]{10,12}" required onpaste="return false";> <br><br>
     <input type="submit">

     </form>
     

</body>
</html>