body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: red;
    background: aqua;
}



* {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: red;
    background: aqua;
}